h2{
  text-align: center;
  font-style: oblique;
  color:#e6ecff ;
  font-size: xx-large !important;
}
h3{
    text-align: center;
    font-style: oblique;
    color:#b4c3f3 ;
}
nav{
  display: flex;
  flex-direction: column;
}
form{
  text-align: center;
  display: flex;
  flex-direction: column;
}
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.submitBtn{
  margin: auto;
}
label{
  font-weight: bold;
}