.Note{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.content{
    text-shadow: 2px 2px 3px rgba(3, 7, 66, 0.4);
}

@media only screen and (min-width: 600px) {
    .Note{
        flex-direction: row;
    }
}

