html {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(bg.jpg) no-repeat 
    center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main{
  margin: auto;
}
header{
  text-align: center;
  font-style: oblique;
  color:#e6ecff ;
  font-size: 50px;
}
nav{
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact{
  top:100%;
  color: #ebd4d4;
  margin-right: 0%;
  font-size: large;
  }
.login{
    width: 100%;
    margin-top: 50%;
    
}
.userbox{
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
button, .button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
    background: #4C8FFB;
    border: none;
    box-shadow: inset 0 1px 0 #80B0FB;
}
button:hover{
  border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}
button:active {
  box-shadow: inset 0 2px 5px #2370FE;   
}

@media only screen and (min-width: 600px) {
  .login{
    margin: auto;
    text-align: center;
    
    padding: 15%;
  }
  input{
    font-size: x-large;
    width: 700px;
  }
  button{
    font-size: x-large;
    
  }
  .login{
    width: 70%;
    margin: auto;
}
  header{
    font-size: 70px;
  }
  nav{
    font-size: 40px;
  }
 
}